@model TciDataLinks.Models.DeviceViewModel
@using TciCommon.Models

@{
    ViewData["Title"] = "دستگاه جدید";
}

<h1>دستگاه جدید</h1>
<hr />
<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="City" class="control-label"></label>
            <select asp-for="City" class="form-control">
                <option disabled selected="selected">انتخاب کنید</option>
                @foreach (City c in ViewBag.Cities)
                {
                    <option value="@c.Id.ToString()">@c.Name</option>
                }
            </select>
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Center" class="control-label"></label>
            <select asp-for="Center" class="form-control"></select>
            <span asp-validation-for="Center" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Building" class="control-label"></label>
            <select asp-for="Building" class="form-control">
                <option disabled selected>انتخاب کنید یا وارد کنید</option>
            </select>
            <span asp-validation-for="Building" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Room" class="control-label"></label>
            <select asp-for="Room" class="form-control">
                <option disabled selected>انتخاب کنید یا وارد کنید</option>
            </select>
            <span asp-validation-for="Room" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackLine" class="control-label"></label>
            <input asp-for="RackLine" class="form-control" />
            <span asp-validation-for="RackLine" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackIndex" class="control-label"></label>
            <input asp-for="RackIndex" class="form-control" />
            <span asp-validation-for="RackIndex" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackRow" class="control-label"></label>
            <input asp-for="RackRow" class="form-control" />
            <span asp-validation-for="RackRow" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Type" class="control-label"></label>
            <select asp-for="Type" class="form-control">
                @foreach (var t in Enum.GetNames(typeof(Device.DeviceType)))
                {
                    <option>@t</option>
                }
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Network" class="control-label"></label>
            <select asp-for="Network" class="form-control">
                @foreach (var n in Enum.GetNames(typeof(Device.NetworkType)))
                {
                    <option>@n</option>
                }
            </select>
            <span asp-validation-for="Network" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Model" class="control-label"></label>
            <input asp-for="Model" class="form-control" />
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group mt-4">
        <input type="submit" value="ایجاد" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-controller="Place" asp-action="Index">بازگشت به لیست</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<script>
    var dropdownsToClear = [$("#Center"), $("#Building"), $("#Room")];

    function ClearDropdownsAfter(offset) {
        for (var i = offset; i < dropdownsToClear.length; i++)
            removeOptionsOfDropDown(dropdownsToClear[i], "انتخاب کنید یا وارد کنید");
    }

    $("#City").change(function () {
        ClearDropdownsAfter(0);
        var cityId = $(this).val();
        $.get("/Place/Centers?city=" + cityId, function (res) {
            $.each(res, function (index, item) {
                $("#Center").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
            $("#Center").select2(select2BaseSettings);
        });
    });

    $("#Center").change(function () {
        ClearDropdownsAfter(1);
        var centerId = $(this).val();
        $.get("/Place/Buildings?center=" + centerId, function (res) {
            $("#Building").select2({
                tags: true,
                data: res,
                ...select2BaseSettings
            });
        });
    });

    $("#Building").on('select2:select', function (e) {
        ClearDropdownsAfter(2);
        var buildingId = e.params.data.id;
        $.get("/Place/Rooms?building=" + buildingId, function (res) {
            $("#Room").select2({
                tags: true,
                data: res,
                ...select2BaseSettings
            });
        });
    });

</script>
}
