@model TciDataLinks.Models.DeviceViewModel

@{
    ViewData["Title"] = "جزئیات دستگاه";
}

<div>
    <h4>جزئیات دستگاه</h4>
    <hr />
    <div class="mt-5">
        @Html.DisplayFor(m => Model, "Device")
    </div>
</div>