@model DeviceViewModel

@{
    ViewData["Title"] = "جزئیات دستگاه";
}

@if (User.FindFirst(nameof(Permission)).Value.Contains(nameof(Permission.EditConnections)))
{
    <div>
        <a asp-controller="Connection" asp-action="Add" asp-route-device="@Model.Id" class="btn btn-info">لینک جدید از این دستگاه</a>
    </div>
}
<div class="mt-4">
    <h4>جزئیات دستگاه</h4>
    <hr />
    <div class="mt-5">
        @Html.DisplayFor(m => Model, "Device")
    </div>
</div>