@model CentersViewModel

@{
    ViewData["Title"] = "تجهیزات";
}

@if (User.FindFirst(nameof(Permission)).Value.Contains(nameof(Permission.EditData)))
{
    <a asp-controller="Device" asp-action="Add" class="btn btn-info">دستگاه جدید</a>
    <a asp-controller="PatchPanel" asp-action="Add" class="btn btn-info mx-3">رابط Passive جدید</a>
}

<h1 class="mt-4">مراکز</h1>
<p class="mb-4 text-warning">برای تغییر دادن لیست مراکز لطفا از طریق سامانه تیکتینگ اقدام فرمائید.</p>

<div class="row">
    @foreach (var city in Model.Centers.Keys)
    {
        <div class="col-md-3">
            <div class="card m-2">
                <div class="card-header">@city</div>
                <div class="card-body">
                    <ul class="">
                        @foreach (var center in Model.Centers[city])
                        {
                            <li>
                                <a asp-action="Item" asp-route-type="Center" asp-route-id="@center.Id.ToString()">@center.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>