@model TciDataLinks.Models.ConnectionViewModel

@{
    ViewData["Title"] = "جزئیات لینک";
}

    <div>
        <h4>جزئیات لینک</h4>
        <hr />
        <div class="mt-5">
            @Html.DisplayFor(m => Model, "Connection")
        </div>
    </div>